*.html linguist-detectable=false
*.R linguist-detectable=true
*.rmd  linguist-detectable
*.Rmd  linguist-detectable
*.Rmd linguist-language=R
*.sql linguist-detectable=true
*.sql linguist-language=sql
