*.html linguist-detectable=false
*.R linguist-detectable=true
*.rmd  linguist-detectable
*.Rmd  linguist-detectable
*.Rmd linguist-language=R
*.[Rr]md  linguist-detectable
*.sql linguist-detectable=true
*.sql linguist-language=sql
